/* File: index.css
   Student: Adewale Ibrahim
   StudentID: 301515732
   Date: 2025-09-15
*/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff;
  color: #000000;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  margin: 20px;
  color: #000000;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

nav {
  float: right;
  font-size: large;
  margin: 20px;
}

hr {
  margin: 20px 0;
  border: 1px solid #ccc;
}